<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="input-container">
    <form action="/login" method="post" >

        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="input-field">

        <br>

        <label for="password">password</label>
        <input type="text" id="password" name="password" class="input-field">

        <input type="submit" value="Create" class="button">
    </form>
</div>
<div th:if="${!param.isEmpty()}" th:each="error:${param}">
    <span style="color: red" th:text="${error.getValue()}">error field</span>
</div>
</body>
</html>