<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <span th:text=" 'id: ' +  ${user.id}"></span>
        <br>
        <span th:text=" 'username: ' +  ${user.username}"></span>
        <br>
        <span th:text=" 'email: ' +  ${user.email}"></span>
        <br>
        <span th:text=" 'email: ' +  ${user.description}"></span>
        <br>
        <span th:text=" 'role: ' +  ${user.role}"></span>
        <br>
        <span> songs: </span>
        <br>
        <span th:each="song : ${user.authoredSongs}">
          <a th:href="@{/song/{id}(id=${song.id})}" th:text="${song.title}">song Title</a>
        </span>
    </div>
    <div th:if="${user.image != null}">
        <span>аватар пользователя:</span>
        <br>
        <img th:src="${user.imageUrl}" alt="Cover Image" width="150"/>
    </div>
    <div class="button">
        <a href="/">на главную страницу</a>
    </div>
</body>
</html>