<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<h2>shaudiFy</h2>
<h3>main page</h3>
<h4>настолько плохо, что даже хорошо</h4>
<div class="user-container">
    <div th:if="${user.image != null}">
        <span>аватар пользователя:</span>
        <br>
        <img th:src="${user.imageUrl}" alt="Cover Image" width="100"/>
    </div>
    <div th:unless="${user.image != null}">
        <span>у пользователя нет аватара</span>
    </div>
    <h5 th:text=" 'пользователь: ' + ${user.username} + ', роль: ' + ${user.getRole()}"></h5>
</div>
<hr>
<div class="centering-container">
<img src="https://cdns-images.dzcdn.net/images/cover/703e8a0c564c7995087ebd711c442363/1000x1000.jpg" alt="sigma" height="150" width="300">
</div>
<br>
<div class="button-container">
    <div class="button">
        <a href="/song/">посмотреть все песни</a>
    </div>
    <div class="button">
        <a href="/user/">посмотреть всех пользователей</a>
    </div>
</div>
</body>
</html>