<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all songs</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>title</th>
                    <th>description</th>
<!--                    <th>author</th>-->
                </tr>
            </thead>
            <tbody th:each="song:${songs}">
                <tr>
                    <th th:text="${song.id}">id</th>
                    <th th:text="${song.title}">title</th>
                    <th th:text="${song.description}">description</th>
<!--                    <th th:text="${song.author}">author</th>-->
                    <th><a th:href="@{/song/{id}(id=${song.id})}">На песню</a></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="/">на главную страницу</a>
    </div>
</body>
</html>