<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create song page</title>
</head>
<body>
    <div>
        <a href="/">на главную страницу</a>
        <hr>
    </div>
    <div>
        <form th:action="@{/song/save}" th:method="POST" th:object="${song}" enctype="multipart/form-data">

            <label for="title">Title</label>
            <input type="text" th:field="*{createSongDTO.title}" id="title" name="title">

            <br>

            <label for="description">Description</label>
            <input type="text" th:field="*{createSongDTO.description}" id="description" name="description">

            <br>

            <label for="image">Image</label>
            <input type="file" th:field="*{songFileDTO.image}" id="image" name="image">

            <br>

            <input type="submit" value="Create">
        </form>
    </div>

    <div th:if="${!errors.isEmpty()}" th:each="error : ${errors}">
        <span style="color: red" th:text="${error}">Error</span>
    </div>

</body>
</html>