<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>song</title>
</head>
<body>
    <div>
        <span th:text=" 'id: ' +  ${song.id}"></span>
        <br>
        <span th:text=" 'title: ' +  ${song.title}"></span>
        <br>
        <span th:text=" 'description: ' +  ${song.description}"></span>
    </div>
    <div>
        <span>обложка песни:</span>
        <br>
        <img th:src="${song.imageUrl}" alt="Cover Image" width="150"/>
    </div>
    <div>
        <a href="/">на главную страницу</a>
    </div>
</body>
</html>